<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <title>Post</title>
    <style>
        h1{
            text-align: center;
            color: #8D7BBB
        }

        p{
            text-align: center;
            color: #499A99
        }
        form{
            margin: 0 auto;
        }

    </style>
</head>
<body>
<th:block th:replace="fragments/navbar :: main-navbar"/>
​<div class="container">
    <div class = "card">
        <th:block th:replace="fragments/jumbotron :: jumbotron-show"/>
        <h1 th:text ="${post.title}"></h1>
        <p th:text="${post.body}"></p>
        <input type="hidden" name="id" th:value="${post.id}">

        <p>Created by: <span th:text="${post.user.email}"></span></p>

        <div sec:authorize="isAuthenticated()">

            <th:block th:if="${post.user.id == #authentication.principal.id}">
                <a th:href="@{'/posts/' + ${post.id} + '/edit'}" class="btn btn-dark btn-block">Edit Post</a>
                <form th:action="@{'/posts/' + ${post.id} + '/delete'}" method="post">
                    <button class="btn btn-danger btn-block">Delete Post</button>
                </form>
            </th:block>
        </div>

    </div>
</div>

</body>
</html>